@{
    ViewBag.Title = "Správce GNP";
}
<h2>@ViewBag.Title.</h2>
<p>Kontakt na správce GNP:</p>

<p><strong>Marek Plaštiak</strong></p>
<p>ICT architekt justice<br />
    Telefon: +420 602 977 969<br />
    e-mail: MPlastiak(zavináč)msp.justice.cz</p>
